{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Dashboard</h4>
            <div class="ml-auto text-right">
                <!-- <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav> -->
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-danger text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i></h1>
                    <h5 class="text-white">47</h6>
                    <h6 class="text-white">Total Calls Made</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-warning text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-chart-areaspline"></i></h1>
                    <h5 class="text-white">23</h6>
                    <h6 class="text-white">Total Lifesavers</h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <div class="card card-hover">
                <div class="box bg-info text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                    <h5 class="text-white">39</h6>
                    <h6 class="text-white">Total Cases Addressed</h6>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Sales chart -->
    <!-- ============================================================== -->

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div id="map"> </div>
            
                        <h5 class="card-title">Active Lifesavers</h5>

    <!-- prettier-ignore -->
                            <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
                            ({key: "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg", v: "beta"});</script>
                            <!-- <script>
                                function initMap() {
                        
                                // A couple of places
                                var brunchPos = {lat: 41.3882793, lng: 2.1615454};
                                var faboritPos = {lat: 41.3915233, lng: 2.1650537};
                        
                                // Create map, draw it in the targetElem and sets the cameraPosition
                                var targetElem = document.getElementById('map');
                                var cameraPosition = { zoom: 13, center: faboritPos };
                                var map = new google.maps.Map(targetElem, cameraPosition);
                        
                                // We have already displayed the map, let's add markers
                        
                                // Create markers in the map
                                var marker1 = new google.maps.Marker({ map: map, position: faboritPos });
                                var marker2 = new google.maps.Marker({ map: map, position: brunchPos });
                        
                                // Now let's setup the autocomplete input, with which we can add more markers
                        
                                // Autocomplete input
                                var input = document.getElementById('searchTextField');
                                var autocomplete = new google.maps.places.Autocomplete(input);
                                autocomplete.bindTo('bounds', map);
                        
                                // Listen to autocomplete input
                                autocomplete.addListener('place_changed', function() {
                        
                                    var place = autocomplete.getPlace();
                                    if (!place.geometry) {
                                    // User entered the name of a place that was not suggested and
                                    // pressed the Enter key, or the Place Details request failed.
                                    window.alert("No details available for input: '" + place.name + "'. Select one of the results.");
                                    return;
                                    }
                        
                                    // Add marker in map
                                    var marker = new google.maps.Marker({ map: map, position: place.geometry.location });
                                });
                        
                                }
                            </script> -->
                        
                        
    </div>
    </div>
    </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div id="map"> </div>
            
                        <h5 class="card-title">Active Citizens</h5>
                            <script>
                                function initMap() {
                        
                                // A couple of places
                                var brunchPos = {lat: 41.3882793, lng: 2.1615454};
                                var faboritPos = {lat: 41.3915233, lng: 2.1650537};
                        
                                // Create map, draw it in the targetElem and sets the cameraPosition
                                var targetElem = document.getElementById('map');
                                var cameraPosition = { zoom: 13, center: faboritPos };
                                var map = new google.maps.Map(targetElem, cameraPosition);
                        
                                // We have already displayed the map, let's add markers
                        
                                // Create markers in the map
                                var marker1 = new google.maps.Marker({ map: map, position: faboritPos });
                                var marker2 = new google.maps.Marker({ map: map, position: brunchPos });
                        
                                // Now let's setup the autocomplete input, with which we can add more markers
                        
                                // Autocomplete input
                                var input = document.getElementById('searchTextField');
                                var autocomplete = new google.maps.places.Autocomplete(input);
                                autocomplete.bindTo('bounds', map);
                        
                                // Listen to autocomplete input
                                autocomplete.addListener('place_changed', function() {
                        
                                    var place = autocomplete.getPlace();
                                    if (!place.geometry) {
                                    // User entered the name of a place that was not suggested and
                                    // pressed the Enter key, or the Place Details request failed.
                                    window.alert("No details available for input: '" + place.name + "'. Select one of the results.");
                                    return;
                                    }
                        
                                    // Add marker in map
                                    var marker = new google.maps.Marker({ map: map, position: place.geometry.location });
                                });
                        
                                }
                            </script>
                        
                            <!-- <script async defer
                        src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap&key=AIzaSyAgRiS_G_6SBuYCKEgWi2E989lIfDF9Dco">
                        </script> -->
    </div>
    </div>
    </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Statistics</h5>
                    <div id="real-time" style="height:400px;"></div>
                    <p>Time between updates:
                        <input id="updateInterval" type="text" value="" style="text-align: right; width:5em">
                        milliseconds
                    </p>
                </div>
            </div>
        </div>
    </div>
   
    <div class="row">
        <!-- column -->
        <div class="col-md-12">
            <!-- Card -->
            
            <!-- card -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title m-b-0">Progress Box</h4>
                    <div class="m-t-20">
                        <div class="d-flex no-block align-items-center">
                            <span>81% Clicks</span>
                            <div class="ml-auto">
                                <span>125</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 81%"
                                aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex no-block align-items-center m-t-25">
                            <span>72% Uniquie Clicks</span>
                            <div class="ml-auto">
                                <span>120</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                style="width: 72%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex no-block align-items-center m-t-25">
                            <span>53% Impressions</span>
                            <div class="ml-auto">
                                <span>785</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 53%"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex no-block align-items-center m-t-25">
                            <span>3% Online Users</span>
                            <div class="ml-auto">
                                <span>8</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"
                                style="width: 3%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
            <!-- card new -->
        <!-- column -->
        
        
        
    <!-- ============================================================== -->
    <!-- Recent comment and chats -->
    <!-- ============================================================== -->
</div>
<!-- <script async defer
src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap&key=AIzaSyAgRiS_G_6SBuYCKEgWi2E989lIfDF9Dco">
</script> -->
{% endblock content %}

